@model DatabaseLayer.LabTimeSlotTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LabTimeSlotTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabTable.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LabTimeSlotID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
