@model IEnumerable<DatabaseLayer.DoctorTimeSlotTable>

@{
    ViewBag.Title = "Doctor Time Slot";
}

<h2>Doctor Time Slot</h2>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        @Html.ActionLink("New Time Slot", "Create", "DoctorTimeSlotTables", new { @style = "float:left;" }, new { @class = "btn btn-default" })

        <input type="text" name="searchtype" id="searchtype" class="form-control col-md-3" style="float:right;" placeholder="Search Here" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Time Slot Title
                        </th>
                        <th>
                            From Time
                        </th>
                        <th>
                            To Time
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody id="searchvalue">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FromTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToTime)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.DoctorTimeSlotID }, new { @class = "btn btn-primary" })

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchtype").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchvalue tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>










